$cancel-selected-task-button:crimson;

$cancel-selected-task-button_hover: red;

$cancel-selected-task-button_active:darkred;

$suggest-selected-task-button: #4BA221;

$suggest-selected-task-button_hover: greenyellow;

$suggest-selected-task-button_active: darkgreen;

$update-task-button: cadetblue;

$update-task-button_hover: cornflowerblue;

$update-task-button_active: darkblue;

$main-task-button:goldenrod;

$main-task-button_hover: gold;

$main-task-button_active: orange;

$section-tasks-container: aliceblue;