.app-container{
  display: flex;
  justify-content: space-between;
}

.interaction-task-container{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 24px;
  width: fit-content;
  border-radius: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.selected-task-container{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 24px;
  width: 30%;
  border-radius: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.task-title{
  text-align: center;
}

.main-title {
  margin: 0 0 24px 0;
}

.create-task-button,
.suggest-task-button,
.cancel-task-button
.update-task-button{
  width: 23px;
  height: 23px;
  position: relative;
  color: transparent;
  background: transparent;
  border: 0;
  opacity: 1;
}

.update-task-button{
  padding: 0;
}

button.remove-task-button {
  background-color: crimson;
}

button.remove-task-button:hover {
  background-color: #811329;
}

.delete-icon::before,
.delete-icon::after,
.create-icon::before,
.create-icon::after,
.update-task-button:before,
.update-task-button:after{
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background: white;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
}

.delete-icon::before{
  transform: rotate(45deg); /* Смещение влево на половину ширины */
}

.delete-icon::after{
  transform: rotate(-45deg); /* Смещение вверх на половину высоты */
}

.create-icon::after{
  transform: rotate(90deg);
}

.button-container {
  position: relative;
  margin: 0 4px;
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
}

.numbered {
  list-style-type: none; /* Убираем стандартные точки */
  counter-reset: list-counter; /* Инициализация счетчика */
  padding: 0;
}

/*.numbered li {*/
/*  counter-increment: list-counter; !* Увеличение счетчика для каждого элемента *!*/
/*  position: relative; !* Позволяет позиционировать элемент относительно себя *!*/
/*}*/

/*.numbered li::before {*/
/*  content: counter(list-counter) ". "; !* Выводим номер перед пунктом *!*/
/*  position: absolute; !* Абсолютное позиционирование для номера *!*/
/*  left: -1.5em; !* Рекомендуется настроить смещение *!*/
/*}*/