@import 'src/shared/Styles/variables';

.app-container{
  display: flex;
  justify-content: space-between;
}

.interaction-task-container{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 24px;
  width: fit-content;
  border-radius: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  &:hover{
    background: $section-tasks-container;
  }
}

.selected-task-container{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  padding: 24px;
  padding-bottom: 15px;
  width: 40%;
  border-radius: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  &:hover{
    background: $section-tasks-container;
  }
}

.task-title{
  text-align: center;
}

.title-update-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  margin: 0 0 24px 0;
}

.create-task-button,
.suggest-task-button,
.cancel-task-button
.update-task-button{
  width: 23px;
  height: 23px;
  position: relative;
  color: transparent;
  background: transparent;
  border: 0;
  opacity: 1;
}

.delete-icon::before,
.delete-icon::after,
.create-icon::before,
.create-icon::after,
.update-task-button:before,
.update-task-button:after{
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background: white;
  top: calc(50% - 1px);
  left: calc(50% - 5px);
}

.delete-icon::before{
  transform: rotate(45deg); /* Смещение влево на половину ширины */
}

.delete-icon::after{
  transform: rotate(-45deg); /* Смещение вверх на половину высоты */
}

.create-icon::after{
  transform: rotate(90deg);
}

button.remove-task-button,
.cancel-task-button{
  background-color: $cancel-selected-task-button;
}

button.remove-task-button:hover,
.cancel-task-button:hover{
  background-color: $cancel-selected-task-button_hover;
}

button.remove-task-button:active,
.cancel-task-button:active{
  background-color: $cancel-selected-task-button_active;
}

.create-task-button,
.suggest-task-button{
  background: $suggest-selected-task-button;
}

.create-task-button:hover,
.suggest-task-button:hover{
  background: $suggest-selected-task-button_hover;
}

.create-task-button:active,
.suggest-task-button:active{
  background: $suggest-selected-task-button_active;
}

.update-task-button{
  padding: 0;
  background: $update-task-button;
  height: 23px;
  width: 23px;

  &:hover{
    background: $update-task-button_hover
  }

  &:active{
    background: $update-task-button_active;
  }
}

.button-container {
  position: relative;
  margin: 0 4px;
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
}

.numbered {
  list-style-type: none; /* Убираем стандартные точки */
  counter-reset: list-counter; /* Инициализация счетчика */
  padding: 0;
}

.main-task-button{
  background: $main-task-button;

  &:hover {
  background: $main-task-button_hover;
}
  &:active {
    background: $main-task-button_active;
  }
}

.cancel-task-button{
  width: 23px;
  height: 23px;
}

.suggest-task-button{
  margin-left: 30px;
}