.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container{
  margin-left: 50px;
  margin-top: 20px;
}
.Create-task-button,
.suggest-task-button,
.cancel-task-button{
  width: 30px;
  height: 30px;
  position: relative;
  color: transparent;
  background: transparent;
  border: 0;
  opacity: 1;
}

.delete-icon::before,
.delete-icon::after,
.create-icon::before,
.create-icon::after
{
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: black;
  margin-top: 3px;
}

.delete-icon::before,
.delete-icon::after,
.create-icon::before,
.create-icon::after{
  left: 2px;
  top: 8px;
}


.delete-icon::before{

  transform: rotate(45deg); /* Смещение влево на половину ширины */
}

.delete-icon::after{
  transform: rotate(-45deg); /* Смещение вверх на половину высоты */
}

.create-icon::after{
  transform: rotate(-45deg);
}

.create-icon::after{
  transform: rotate(90deg);
}

.create-icon::before{
  transform: rotate(180deg);
}

.Button-Bar{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 20%;
}


.button-container {
  position: relative; /* Устанавливаем контекст для абсолютного позиционирования */
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
}

.main-task-button{
  width: 200px;
  height: 50px;
}

.numbered {
  list-style-type: none; /* Убираем стандартные точки */
  counter-reset: list-counter; /* Инициализация счетчика */
}

.numbered li {
  counter-increment: list-counter; /* Увеличение счетчика для каждого элемента */
  position: relative; /* Позволяет позиционировать элемент относительно себя */
}

.numbered li::before {
  content: counter(list-counter) ". "; /* Выводим номер перед пунктом */
  position: absolute; /* Абсолютное позиционирование для номера */
  left: -1.5em; /* Рекомендуется настроить смещение */
}

.add-task-input{
  width: 250px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.task-title{
  margin-right: 30px;
}
